
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="nav-tabs-navigation">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="<%='active' if current_page? profile_student_path %>">
          <%= link_to 'Profile', profile_student_path %>
        </li>
        <li class="<%='active' if current_page? usages_student_path %>">
          <%= link_to 'Internet Usage', usages_student_path %>
        </li>
      </ul>
    </div>
    <div class="content">
      <div class="tab-content">
        <%= render '/students/tabs/profile' if current_page? profile_student_path %>
        <%= render '/students/tabs/usages' if current_page? usages_student_path %>
      </div>
    </div>
  </div>
</div>
