<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="box box-solid">
      <div class="panel-heading">
        <center>
          <%=image_tag("default.png", height: 80, width: 80, :class=>"img-square") %>
          <br>
          <%=@user.username.try(:upcase) %>
        </center>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-list-alt"></i> Email:
          </div>
          <div class="col-md-6">
             <%=@user.email %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-list-alt"></i> Name:
          </div>
          <div class="col-md-6">
             <%=@user.full_name %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <i class="fa fa-list-alt"></i> Role:
          </div>
          <div class="col-md-6">
             <%=@user.role.try(:titleize) %>
          </div>
        </div>
        <br>
        <% if current_user.admin? %>
          <%=link_to 'Update Info', edit_user_path(@user), class: 'btn btn-warning pull-right'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
