<div class="tab-pane <%='active' if current_page? usages_student_path %>">
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
      <%if @student.profile_photo.blank? %>
        <center>
          <%=image_tag("default.png", height: 100, width: 100, :class=>"img-square") %>
          <h4><%= @student.full_name %></h4>
          <p><%= @student.course %> - <%= @student.year_level %></p>
        </center>
      <% else %>
        <center>
          <%= image_tag @student.profile_photo.url(:large), class: 'center-block img-responsive img-rounded'%>
          <h4><%= @student.full_name %></h4>
          <p><%= @student.course %> - <%= @student.year_level %></p>
        </center>
      <% end %>
    </div>
    <div class="col-md-3">
      <h3 class="text-center text-warning"><%= @student.internet_usages.total_time_consumption %></h3>
      <p class="text-center">USED</p>
    </div>
    <div class="col-md-3">
      <h3 class="text-center text-success"><%= @student.internet_usages.total_remaining %></h3>
      <p class="text-center">REMAINING</p>
    </div>
    <div class="col-md-3">
      <h3 class="text-center text-danger"><%= @student.internet_usages.excess %></h3>
      <p class="text-center">EXCESS</p>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Time In</th>
        <th>Time Out</th>
        <th>Time Consumed</th>
      </tr>
    </thead>
    <tbody>
      <% @student.internet_usages.each do |internet_usage| %>
        <tr>
          <td><%= internet_usage.time_in.strftime("%B %d, %Y") %></td>
          <td><%= internet_usage.time_in.strftime("%I:%M%p") %></td>
          <td><%= internet_usage.time_out.strftime("%I:%M%p") %></td>
          <td><%= internet_usage.usage_in_time_format %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>