<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Course </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @course, remote: true do |f| %>
            <%=f.error_notification %>
            <%=f.input :name, autofocus: true %>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left", data: {dismiss: "modal"} %>
              <%=f.submit "Save", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>